<h1>Log in</h1>

<%= form_for :session, url: login_path do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>

  <div class="register">
    <a href="<%= new_user_path %>">Register</a>
  </div>
<% end %>