<%= form_with(model: pulse, local: true) do |form| %>
  <% if pulse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pulse.errors.count, "error") %> prohibited this pulse from being saved:</h2>

      <ul>
      <% pulse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
    <%= form.label :tarball %>
    <%= form.file_field :tarball %>
  </div>

  <%= form.hidden_field :cardiogram_id, value: cardiogram.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>