<h2><%= @cardiogram.name %></h2>

<!-- TODO: Paginate -->
<div class="pulses">
  <% @pulses.each do |pulse| %>
    <div class="version"><%= pulse.version %></div>
    <div class="released"><%= pulse.created_at.strftime "%y.%m.%d %k:%M:%S" %></div>
    <div class="download"><a href="<%= rails_blob_url(pulse.tarball, disposition: 'attachment') %>">Download</a></div>
  <% end %>
</div>