<%= form_with(model: cardiogram, local: true) do |form| %>
  <% if cardiogram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cardiogram.errors.count, "error") %> prohibited this cardiogram from being saved:</h2>

      <ul>
      <% cardiogram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class="field">
    <%= form.label :authors %>
    <%= form.text_field :authors %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
