<p id="notice"><%= notice %></p>

<div class="cdgs">
  <% @cardiograms.each do |cdg| %>
    <div class="cdg">
      <div class="name">
        <a href="<%= cardiogram_path cdg %>"><%= cdg.name %></a>
      </div>
      <div class="description">
        <%= cdg.desc %>
      </div>
      <div class="user">
        <a href="<%= user_path cdg.user %>"><%= cdg.user.name %></a>
      </div>
      <div class="version">
        <%= cdg.latest_version %>
      </div>
      <div class="downloads">
        100 <!-- TODO: keep track of dls -->
      </div>
      <div class="graphic">
        <!-- image: each letter has a y value, each index has an x value, all
             package names must be unique, therefore each cardiogram has a
             unique graphic -->
      </div>
    </div>
  <% end %>
</div>
