<div class="show">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% else %>
    <div id="notice"></div>
  <% end %>

  <!--
    The borders are misaligned by design.
    Honestly.
      .meta { margin-top: -1mm; }
    would solve it, but it looks weird.
  -->

  <div class="readme">
    <h1>READMEs not implemented yet</h1>
    <p>sue me</p>
  </div>

  <div class="meta">
    <% if logged_in? %>
    <div class="tools"> <!--font-family: ulf400 ??-->
        <div class="edit"> <!--Yellow (complementary (3))?-->
          <a href="<%= edit_cardiogram_path @cardiogram %>">
            <!--&#128393;-->
            EDIT
          </a>
        </div>
        <div class="delete">
          <!--&#128393;-->
            <%= link_to  'DELETE', delete_cardiogram_path, method: :delete %>
        </div> <!--Red (not $main-colour-or-whatever-0)-->
        <div class="move">
          <!--&#128666;-->
          MOVE
        </div> <!--Blue (complementary (3))?-->
        <div class="pulse">
          <a href="<%= new_pulse_path %>">
            PULSE
          </a>
        </div>
    </div>
    <% end %>

    <div class="version">
      <h4>Version</h4>
      <!-- params[:version] || -->
      <%= @cardiogram.latest_version %> (latest)
    </div>

    <div class="install">
      <h4>Install</h4>
      <code>bpm add <%= @cardiogram.name %></code>
    </div>

    <div class="desc">
      <h4>Description</h4>
      <%= @cardiogram.desc %>
    </div>

    <% if @cardiogram.repo %>
      <div class="repo">
        <h4>Source</h4>
        <!-- TODO: Add host-specific badges (github, gitlab, etc.) -->
        <a href="<%= @cardiogram.repo %>"><%= @cardiogram.repo %></a>
      </div>
    <% end %>

    <div class="authors">
      <h4>Authors</h4>
      <!-- <<= author_helper @cardiogram.authors >> -->
      <%= @cardiogram.authors %>
    </div>
  </div>
</div>