// Colour constants
@import "colour_palette";
// Typefaces
@import "Web/scss/ibm-plex";
// Controller-specific
@import "cardiograms";
@import "pulses";
@import "scaffolds";
@import "users";

body {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

// logo
a h1 {
  color: black;
}

a {
  text-decoration: none;
}

a:link {
  color: $color-primary-3;
}

a:visited {
  color: $color-primary-4;
}

a:hover {
  color: $color-primary-2;
  background-color: transparent;
}

a:active {
  color: $color-primary-1;
}

.application {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 210mm 1fr; // Width of A4 Paper
  grid-template-rows: 15mm minmax(150mm, auto) 15mm; // Height of A4 Paper / 2
  grid-template-areas:
          ". hd ."
          ". bd ."
          ". ft .";
}

.header {
  grid-area: hd;

  display: grid;
  grid-gap: 0;
  grid-template-columns: 5mm auto 1fr;
  grid-template-rows: repeat(3, 5mm);
  grid-template-areas:
    "ac lg dt"
    "ac lg us"
    "ac lg . ";

  height: 15mm;

  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 3mm;

  .accent {
    grid-area: ac;

    background-color: $color-primary-0;
  }

  .logo {
    grid-area: lg;

    padding-left: 3mm;
    padding-right: 3mm;

    font-weight: bold;
    font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
    font-size: 4mm;

    border-bottom: 1mm solid $color-primary-0;
  }

  .context, .user, .controls {
    text-align: right;
    padding-right: 4mm;

    border-right: 3mm solid $color-primary-0;
  }
}

.content {
  grid-area: bd;
  padding-right: 5mm;
  padding-left: 8mm;
}

.footer {
  grid-area: ft;

  border-top: 0.5mm solid $color-primary-0;

  margin-top: 5mm;

  p {
    margin-top: 2mm;
    margin-left: 8mm;

    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 3mm;
    color: #7E7E7E;
  }
}

code {
  background-color: rgba(172,  0, 13, 0.20); // 20% $color-primary-0
  color: $color-primary-1;

  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 3mm;

  padding: 1mm;

  border-left: 1mm solid $color-primary-0;
}