@import "colour_palette";

.cdgs {
  display: grid;
  grid-row-gap: 2mm;

  margin-left: -3mm;

  .cdg {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 40mm;
    grid-template-rows: 7mm 4mm;
    grid-template-areas:
      "name desc desc imag"
      "user vers down imag";

    //border-left: 2mm solid $color-primary-0;
    margin-left: 3mm;

    border-bottom: 0.5mm solid $color-primary-0;
    padding-bottom: 1mm;

    //padding-left: 6mm;

    .name {
      grid-area: name;

      margin-top: 1.25mm;

      font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
      font-size: 3.5mm;
      font-weight: bold;
      color: $color-primary-2;
    }

    .description {
      grid-area: desc;

      margin-top: 1.5mm;
      margin-left: 1mm;

      font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 3mm;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .downloads {
      grid-area: down;

      margin-top: -0.5mm;

      font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
      text-align: right;
      font-size: 3mm;
      color: #7E7E7E;
    }

    .user {
      grid-area: user;

      margin-top: -0.5mm;

      font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 3mm;
      color: #7E7E7E;
    }

    .version {
      grid-area: vers;

      margin-left: 1mm;
      margin-top: -0.5mm;

      font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
      font-size: 3mm;
      color: #7E7E7E;
    }
  }
}


.show {
  display: grid;
  grid-template-rows: auto 1fr; // Auto accommodates notices
  grid-template-columns: 1fr 70mm;
  grid-template-areas: "nt nt" "rm mt";
  /*  Solution to a problem not yet encountered:
      If README is longer than meta, I think meta's right border will stretch
      to the full length of README. I'm not sure if it'll look bad, but to fix
      it I think that mt should display: grid; so that while the mt div will
      scale to the rm div, inside mt the meta div will be fluid.
   */

  #notice {
    grid-area: nt;
  }

  .readme {
    grid-area: rm;
  }

  .meta {
    grid-area: mt;
    display: grid;
    grid-row-gap: 2mm;

    border-right: 3mm solid $color-primary-0;

    margin-top: -1mm;
    margin-right: -5mm;

    padding-left: 3mm;
    padding-right: 3mm;
    padding-bottom: 3mm;

    .tools {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      margin-top: 5mm;

      text-align: center;
    }

    h4 {
      margin-top: 2mm;
      margin-bottom: 2mm;

      font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
      font-size: 4mm;
    }
  }
}