@import "colour_palette";

h2 {
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  font-size: 6mm;
  color: $color-primary-4;
}

.pulses {
  display: grid;
  grid-template-columns: 1fr 1fr 40mm;
  grid-row-gap: 2mm;

  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  font-size: 5mm;
  text-align: center;

  //.version_head, .publish_head, .download_head {
  //  margin-bottom: 3mm;
  //}

  .version, .released, .download {
    border-bottom: 0.5mm solid $color-primary-0;
    padding-bottom: 1mm;

    font-size: 4mm;
  }

  .version, .released {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    text-align: left;
  }

  .download {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    text-align: right;
  }
}