<div class="accent"></div>

<div class="logo">
  <a href="<%= root_path %>"><h1>Cardiovascular</h1></a>
</div>

<div class="information">
  <div class="context">
    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% end %>
  </div>
  <div class="user">
    <% if logged_in? %>
      <a href="<%= user_path current_user %>"><%= current_user.name %></a>
    <% else %>
      <a href="<%= login_path %>">Log in</a>
    <% end %>
  </div>
  <div class="controls">
    <div class="new_cardiogram">
      <a href="<%= new_cardiogram_path %>">New Cardiogram</a>
    </div>
  </div>
</div>