<!DOCTYPE html>
<html>
  <head>
    <title>Cardiovascular</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="application">
    <div class="header">
      <%= render 'layouts/header' %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
